.navbar{
    background-color: rgb(255,255,255) !important;
}

/* This sets the colour of the 'Source' link in the navbar */
.navbar .nav-item a{
    color: rgb(26,43,76) !important;
}

.navbar .dropdown-menu{
    */
    background-color: rgba(137,169,217,0.5);
}
/* Sets properties for when hovering over a menu item in the 
   drop-down menu */
.dropdown-item:hover{
    background-color: rgba(137,169,217,0.5);
}

/* Sets the appearence for the 'Continue' button... */
.btn-primary{
  color: rgb(137,169,217);
  background-color: rgba(137,169,217,0.25);
  border-color: rgba(137,169,217,0.25);
}
/* ...and when hovering over it */
.btn-primary:hover{
  color: rgb(137,169,217);
  background-color: rgba(255,255,255);
  border-color: rgba(137,169,217,0.25);

/* Sets the appearnce for the 'Restart' button... */
.btn-warning{
  color: rgba(137,169,217, 0.75);
  background-color: rgba(26,43,76);
  border-color: rgba(26,43,76);
}
/* ...and when hovering over it */
.btn-warning:hover{
  color: rgb(26,43,76);
  background-color: rgba(255,255,255);
  border-color: rgba(26,43,76,0.25);
}

/* Sets the appearence for the 'Exit' button... */
.btn-danger{
  color: rgba(137,169,217, 0.75);
  background-color: rgba(26,43,76);
  border-color: rgba(26,43,76);
}

/* ...and when hovering over it */
.btn-danger:hover{
  color: rgb(26,43,76);
  background-color: rgba(255,255,255);
  border-color: rgba(26,43,76,0.25);
}

/* Sets the appearence for the navigation bar... */
.nav-link{
  color: rgb(26,43,76);
  background-color: rgba(255,255,255);
  border-color: rgba(26,43,76,0.25);
}

/* ...and when hovering over it */
.nav-link:hover{
  color: rgba(26,43,76);
  background-color: rgba(137,169,217, 0.25);
  border-color: rgba(26,43,76);
}

/* ... and when active state */
.daclickable.nav-link.danavlink.active{
  color: rgba(255,255,255);
  background-color: rgba(26,43,76);
  border-color: rgba(137,169,217, 0.25);  
}


/* ... and when active state for 'Summary' */
.nav-link.danavlink.active.thelast{
  color: rgba(255,255,255);
  background-color: rgba(26,43,76);
  border-color: rgba(137,169,217, 0.25);  
}
  
html {
  color: rgb(26,43,76);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
  font-size: 1.2rem;
  color: rgb(26,43,76);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.progress-bar {
  background-color: rgb(26,43,76) !important;

  /* Try this to get rid of the lighter blue box shadow thing */
  
}
.input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}
.input[type="checkbox"] {
  outline: none;
  box-shadow: none;
}
